{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'core/css/bootstrap.rtl.min.css' %}"
    />
    <title>Document</title>
  </head>
  <body
    style="
      max-width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    "
  >
    <div class="top-bar" style="display: flex; justify-content: space-between">
      <h2 style="padding: 10px">my hello...</h2>
      <a
        style="padding: 10px 0 10px 10px; margin-left: auto"
        href="{% url 'login' %}"
        id="login-icon-ok"
        >entrar
      </a>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout-style">Sair</button>
      </form>
      <a
        style="padding: 10px 0 10px 10px"
        href="{% url 'cart_detail' %}"
        id="cart-icon-ok"
        >carrinho:
      </a>
      <span style="padding: 10px 30px 10px 5px" href="#" id="cart-icon">0</span>
    </div>
    <div
      style="
        display: flex;
        max-width: 90vw;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
      "
    >
      {% for prod in product %}
      <div class="card" style="width: 18vw; margin: 20px">
        <img
          src="{% static 'core/images/cart_forbidden.png' %}"
          class="card-img-top"
          alt="no image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ prod.name }}</h5>
          <p class="card-text">
            {{ prod.description }} <br />
            <strong>Preço: </strong> {{ prod.price }}
          </p>
          <a
            class="btn btn-primary addcart"
            data-product-id="{{ prod.id }}"
            id="addcart"
            >Adicione no carrinho</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
    <script src="{% static 'core/js/cart.integration.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
